/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  background: rgb(101, 176, 249);
  background-image: url('./assets/background.jpg');
  background: linear-gradient(to bottom, rgba(101, 176, 249, 0.75), rgba(101, 176, 249, 0.55)), url('./assets/background.jpg') no-repeat fixed;
  background-size: cover;
  overflow: hidden;
}
