<div
  class="plate-container"
  [ngClass]="{
    'plate3-2': selectedPlate.wells === 6,
    'plate4-3': selectedPlate.wells === 12 || selectedPlate.wells === 24,
    'plate8-6': selectedPlate.wells === 48,
    'plate12-8': selectedPlate.wells === 96,
    'plate24-16': selectedPlate.wells === 384
  }"
>
  <div class="arrow"></div>
  <div class="plate">
    <div>
      <div
        class="plate-column"
        *ngFor="let char of columns; let i = index"
        [ngClass]="{ 'plate-column-selected': checkIndex(i) || selectedColumnIndex === i }"
        (mouseover)="enterCell(i)"
        (mouseleave)="leaveCell(i)"
        (click)="selectColumn(i)"
      >
        <span>{{ char }}</span>
      </div>
    </div>
    <div class="plate-row" *ngFor="let row of plateArray; let i = index">
      <div class="plate-row-number">{{ i + 1 }}</div>
      <div
        class="plate-cell"
        *ngFor="let cell of row; let ind = index"
        [ngClass]="{ 'plate-cell-selected': checkIndex(ind+1) || selectedColumnIndex === ind + 1 }"
        (click)="selectColumn(ind+1)"
        (mouseover)="enterCell(ind+1)"
        (mouseleave)="leaveCell(ind+1)"
      ></div>
    </div>
  </div>
</div>
