.plate-container {
  position: absolute;
  min-width: 250%;
  //height: 500px;
  background: rgba(255, 255, 255, 0.9);
  margin-left: calc(-75% - 20px);
  padding: 20px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  -webkit-box-shadow: 10px 11px 37px -8px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 10px 11px 37px -8px rgba(0, 0, 0, 0.52);
  box-shadow: 10px 11px 37px -8px rgba(0, 0, 0, 0.52);
  $col-width: 37px;
  top: 71px;

  &.plate3-2 {
    min-width: calc(100% - 40px);
    margin: 0;

    .plate-column {
      width: 37px;
      height: 35px;
    }

    .plate-row {
      .plate-row-number {
        height: 35px;
      }

      .plate-cell {
        height: 35px;
        width: 35px;
      }
    }
  }

  &.plate4-3 {
    min-width: calc(100% - 40px);
    margin: 0;

    .plate-column {
      width: 32px;
      height: 30px;
    }

    .plate-row {
      .plate-row-number {
        height: 30px;
      }

      .plate-cell {
        height: 30px;
        width: 30px;
      }
    }
  }

  &.plate8-6 {
    min-width: calc(100% - 40px);
    margin: 0;

    .plate-column {
      width: 27px;
      height: 25px;
    }

    .plate-row {
      .plate-row-number {
        height: 25px;
      }

      .plate-cell {
        height: 25px;
        width: 25px;
      }
    }
  }

  &.plate12-8 {
    min-width: calc(120% - 40px);
    left: -10%;
    margin: 0;

    .plate-column {
      width: 27px;
      height: 25px;
    }

    .plate-row {
      .plate-row-number {
        height: 25px;
      }

      .plate-cell {
        height: 25px;
        width: 25px;
      }
    }
  }

  &.plate24-16 {
    min-width: calc(180% - 40px);
    left: -40%;
    margin: 0;

    .plate-column {
      width: 22px;
      height: 20px;
    }

    .plate-row {
      .plate-row-number {
        height: 20px;
      }

      .plate-cell {
        height: 20px;
        width: 20px;
      }
    }
  }

  .arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 25px 30px 25px;
    border-color: transparent transparent rgba(255, 255, 255, 0.9) transparent;
    top: -30px
  }

  .plate-column {
    width: 27px;
    height: 25px;
    display: inline-block;
    margin: 2px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;

    &:first-child {
      cursor: default;
    }

    &.plate-column-selected, &:hover {
      color: #0eb2ff;
      font-weight: bold;
    }

    &:first-child {
      width: 20px;
    }
  }

  .plate-row {

    .plate-row-number {
      width: 25px;
      height: 25px;
      text-align: left;
      display: inline-block;
      vertical-align: bottom;
    }

    .plate-cell {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 1px solid #ccc;
      box-shadow: 1px 1px rgb(101, 176, 249);
      display: inline-block;
      margin: 2px;
      cursor: pointer;

      &.plate-cell-selected {
        background-color: #a4e2ff;
        border-color: #0eb2ff;
      }
    }
  }
}
