<h2>Select columns in microtiter plate</h2>
<div class="plate-choose">
  <label>Choose size:</label>
  <button
    *ngFor="let plate of plates"
    [ngClass]="{ 'selected-plate': selectedPlate.wells === plate.wells }"
    (click)="selectPlate(plate)"
  >
    {{ plate.wells }}
  </button>
</div>

<div
  class="input-container"
  appClickOutside
  (clickOutside)="plateVisible = false"
>
  <input
    #input
    type="text"
    class="column-choose-input"
    (keypress)="restrictNumeric($event)"
    [(ngModel)]="inputValue"
    (keyup)="checkValue($event)"
    [ngClass]="{ error: error }"
    (blur)="sortInputValue()"
  />

  <button class="plate-button" (click)="togglePlate(); input.focus()">
    <img src="./../../assets/plate.svg" alt="" />
  </button>

  <div *ngIf="error" class="error-box">
    <div class="arrow"></div>
    <div class="error-message" *ngFor="let msg of errorMessages">
      <span class="circle" *ngIf="errorMessages.length > 1"></span>{{ msg }}
    </div>
  </div>

  <app-plate #plateComp [(selectedColumns)]="columns" [hidden]="!plateVisible" [plate]="selectedPlate"></app-plate>
</div>
