$red: #e74c3c;

:host {
  position: relative;
}

h2 {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.05);
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.plate-choose {
  label {
    margin-right: 20px;
    font-weight: 800;
    color: #08578b;
  }
  button {
    width: 50px;
    color: #2980b9;
    background-color: #fff;
    border: 1px solid #2980b9;
    font-size: 17px;
    padding: 2px 5px;
    outline: none;
    cursor: pointer;

    &.selected-plate {
      background-color: #2980b9;
      color: #fff;
    }

    &:first-of-type {
      border-radius: 5px 0 0 5px;
    }
    &:last-child {
      border-radius: 0 5px 5px 0;
    }

  }
  margin-bottom: 10px;
}

.input-container {
  position: relative;

  .column-choose-input {
    position: relative;
    width: 400px;
    border-radius: 5px;
    border: 2px solid transparent;

    font-size: 15px;
    font-weight: 700;
    padding: 10px 10px;

    color: #2980b9;
    background: rgba(255, 255, 255, .8);
    box-shadow: 1px 2px rgba(0, 0, 0, .025);

    outline: none;
    transition: .5s;

    &:focus {
      border: 2px solid #2980b9;
      box-shadow: 2px 4px rgba(0, 0, 0, .05);
      background: rgba(255, 255, 255, .9);
    }

    &.error {
      color: $red;
      border-color: $red;
    }
  }

  button {
    position: absolute;
    right: 0;
    background: none;
    outline: none;
    border: none;
    height: 100%;
    padding: 10px;
    cursor: pointer;
    transition: .5;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    &:hover {
      opacity: .8;
    }
  }

  .error-box {
    width: 200px;
    position: absolute;
    right: -235px;
    top: -10px;
    color: $red;
    background-color: #fff;
    padding: 20px 10px;
    border-radius: 5px;
    font-weight: 800;
    transition: 2s;
    -webkit-animation-name: bounceIn;
            animation-name: bounceIn;
            animation-duration: 1s;

    .arrow {
      border-color: transparent #fff;
      border-style: solid;
      border-width: 10px 10px 10px 0px;
      height: 0px;
      width: 0px;
      position: absolute;
      left: -10px;
    }

    .circle {
      display: inline-block;
      width: 7px;
      height: 7px;
      background-color: $red;
      border-radius: 50%;
      margin-right: 10px;
      vertical-align: middle;
    }

    .error-message {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}


@-webkit-keyframes bounceIn {
  0% {
     opacity: 0;
     -webkit-transform: scale(.3);
  }
  50% {
     opacity: 1;
     -webkit-transform: scale(1.05);
  }
  70% {
     -webkit-transform: scale(.9);
  }
  100% {
     -webkit-transform: scale(1);
  }
}

@keyframes bounceIn {
  0% {
     opacity: 0;
     transform: scale(.3);
  }
  50% {
     opacity: 1;
     transform: scale(1.05);
  }
  70% {
     transform: scale(.9);
  }
  100% {
     transform: scale(1);
  }
}
